body {
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-page {
    width: auto;
    margin: 0 125px;
}

header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 250px;
    height: 600px;
} 

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

img {
    height: 200px;
    width: 400px;
    border-radius: 10px;
}

.header-bottom {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    justify-content: space-between;
    align-items: center;
}

.middle {
    background-color: white;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 2;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.info img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    border: 5px solid rgb(23, 129, 80);
}

.quote {
    background-color: #e5e7eb;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote p {
    margin: 0;
    padding: 0 200px;
    font-style: italic;
}

.bottom {
    background-color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    background-color:#3882f6;
    width: 900px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 200;
    font-size: 15px;
}